ETCD_NAME={{ ansible_hostname }}
ETCD_DATA_DIR="/var/lib/etcd/pg-cluster"
ETCD_HEARTBEAT_INTERVAL="1000"
ETCD_ELECTION_TIMEOUT="5000"
ETCD_LISTEN_PEER_URLS="http://{{ ansible_default_ipv4.address }}:2380"
ETCD_LISTEN_CLIENT_URLS="http://{{ ansible_default_ipv4.address }}:2379,http://localhost:2379"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_default_ipv4.address }}:2380"
ETCD_INITIAL_CLUSTER="etcd01=http://192.168.2.101:2380,etcd02=http://192.168.2.102:2380,etcd03=http://192.168.2.103:2380"
ETCD_INITIAL_CLUSTER_STATE={{ etcd_state }}
ETCD_INITIAL_CLUSTER_TOKEN="etcd-pg-cluster"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_default_ipv4.address }}:2379"
ETCD_ENABLE_V2="true"
ETCD_INITIAL_ELECTION_TICK_ADVANCE="false"
